.App {
  text-align: center;
  align-content: center;
  font-family: sans-serif;
}

.search input {
  border: none;
}

li h4 {
  font-weight: 600;
  font-family: sans-serif;
}

li p {
  font-size: 14px;
  color: grey;
}

li span {
  color: green;
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

span{
  padding: 10px;
}

.search {
  width: 314px;
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
}

.buttonPesquisar {
  width: 24%;
  height: 40px;
}

.bar {
  display: flex;
  height: 13vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid #e0e0e0;
  padding: 4px;
}

button {
  border-style: none;
  height: 40px;
  width: 107px;
  border-radius: 8px;
  padding: 0px, 20px, 0px, 20px;
  background-color: #27ae60;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main {
  height: 70vh;
  display: flex;
  align-content: stretch;
  align-items: center;
}

main ul {
  height: 370px;
  width: 100vw;
  overflow-y: scroll;
  display: flex;
  padding: 0%;
}

ul li {
  list-style: none;
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  border: 2px solid #e0e0e0;
  margin: 2px;
  padding: 10px;
  border-radius: 4px;
  height: 330px;
}

img {
  width: 177px;
}

.title {
  display: flex;
  align-items: baseline;
  height: 30px;
  font-size: 22px;
  justify-content: center;
}

.carrinho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleCarrinho {
  width: 90%;
  display: flex;
  border-radius: 4px;
  background-color: #27ae60;
  height: 50px;
  align-items: flex-end;
  font-size: 22px;
  color: #fff;
  max-width: 370px;
  font-family: sans-serif;
}

.carrinho h2 {
  margin: 3px;
  color: #fff;
  font-size: 20px;
  margin: 2px;
}

.carrinho ul {
  padding: 0%;
}

.carrinho ul li {
  display: flex;
  height: 52px;
  width: 280px;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  max-width: 380px;
  align-items: center;
}

.carrinho ul li button {
  background-color: transparent;
  color: grey;
  font-weight: 700;
}

.carrinho ul li img {
  width: 70px;
  height: 70px;
  background-color: #e0e0e0;
  border-radius: 8px;
}

.price {
  display: flex;
  justify-content: center;
}

.price button {
  background-color: #e0e0e0;
  color: #999999;
  width: 100vw;
  font-weight: 700;
  margin: 3px;
  max-width: 250px;
}

@media screen and (min-width: 1000px) {
  main {
    width: 67vw;
    align-items: flex-start;
  }

  .carrinho {
    width: 25vw;
  }

  .conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }

  main ul {
    height: 700px;
    width: 100%;
    overflow-y: unset;
    display: flex;
    padding: 0%;
    flex-wrap: wrap;
  }

  ul li {
    width: 273px;
  }

  .bar {
    height: 8vh;
    flex-direction: row;
    justify-content: space-around;
  }
}
